  <h2>Game Title: {{game.title}}</h2>
  <p>Game Genre: {{{game.genre}}}</p>
  <p>Game Description: {{game.description}}</p>
  <p>Created by {{game.user.name}}</p>
  {{!-- <p>
    <button class="btn btn-primary">Create Character</button>
  </p> --}}
</div>
