@font-face {
    font-family:"Final Fantasy Script Collection - Final Fantasy VII";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Final_Fantasy_VII.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Final_Fantasy_VII.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Final_Fantasy_VII.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Final_Fantasy_VII.svg#FinalFantasyVII") format("svg");
    font-weight:normal;
    font-style:normal;
  }
  @font-face {
    font-family:"Pixel Cyr Normal";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/pixcyr2.svg#PixelCyr-Normal") format("svg");
    font-weight:normal;
    font-style:normal;
  }
  @font-face {
    font-family:"Play";
    src:url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.eot") format("eot"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.woff") format("woff"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.ttf") format("truetype"),
        url("https://cdn.jsdelivr.net/gh/98mprice/PSone.css@master/fonts/Play-Regular.svg#Play") format("svg");
    font-weight:normal;
    font-style:normal;
  }
  @font-face {
    font-family: 'RationalTWDisplay';
    src:url('./fonts/RationalTWDisplay.eot');
    src:url('./fonts/RationalTWDisplay.eot?#iefix') format('embedded-opentype'),
        url('./fonts/RationalTWDisplay.woff2') format('woff2'),
        url('./fonts/RationalTWDisplay.woff') format('woff'),
        url('./fonts/RationalTWDisplay.ttf') format('truetype');
    font-weight:normal;
    font-style:normal;
  }
  body {
    font-family:"Final Fantasy Script Collection - Final Fantasy VII";
    font-size: 40px;
    background-color: black;
    color: white;
    font-smooth: never;
    -webkit-font-smoothing : none;

    line-height: 30px;
  }

  #myChart {
    height: 100px;
    width: 100px;
  }

  *:focus {
    outline: none;
  }
  .btn {
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: bold;
    text-shadow: 2px 2px black;
    /* Lots of padding, rectangle, rounded corners */
    padding: 0 rem;
    background: -webkit-linear-gradient(left, transparent, #AEAFAE, transparent);
    border: 0px;
    border-bottom: 1px solid;
    -o-border-image: linear-gradient(to right, transparent , rgba(255, 255, 255, 0.2), transparent);
       border-image: linear-gradient(to right, transparent , rgba(255, 255, 255, 0.2), transparent);
    border-image-slice: 1;
    border-top: 1px solid;


  }
  .btn:hover {
    background: -webkit-linear-gradient(left, transparent, lightgrey, transparent);
  }
  .btn.error {
    background: -webkit-linear-gradient(left, transparent, #B62F28, transparent);
  }
  .btn.error:hover {
    background: -webkit-linear-gradient(left, transparent, #E93F36, transparent);
  }
  .btn.warning {
    background: -webkit-linear-gradient(left, transparent, #F19C42, transparent);
  }
  .btn.warning:hover {
    background: -webkit-linear-gradient(left, transparent, #ffb544, transparent);
  }
  .btn.success {
    background: -webkit-linear-gradient(left, transparent, #4EA35B, transparent);
  }
  .btn.success:hover {
    background: -webkit-linear-gradient(left, transparent, #5dc66d, transparent);
  }
  .btn.primary {
    background: -webkit-linear-gradient(left, transparent, #3E8CA5, transparent);
  }
  .btn.primary:hover {
    background: -webkit-linear-gradient(left, transparent, #49a7c6, transparent);
  }
  .btn.alternative {
    -o-border-image: linear-gradient(to right, transparent , #E84437, #F4F251, transparent);
       border-image: linear-gradient(to right, transparent , #E84437, #F4F251, transparent);
    background: -webkit-linear-gradient(left, transparent, #79F372, transparent);
  }
  .btn.alternative:hover {
    -o-border-image: linear-gradient(to right, transparent , #6CB064, #DC4387, transparent);
       border-image: linear-gradient(to right, transparent , #6CB064, #DC4387, transparent);
    background: -webkit-linear-gradient(left, transparent, #77F9FB, transparent);
  }
  button:disabled,
  button[disabled]{
      color:  #AEAFAE;
      pointer-events:none;
       background: -webkit-linear-gradient(left, transparent, #484a48, transparent);
    
  }
  .container:not(:last-child) {
    margin-bottom: 1rem;
  }
  .container {
    position: relative;
    background-image: linear-gradient(#0D2289, #06093B);
    border: 1px solid #c6c6c6;
    border-radius: 8px;
    box-shadow: inset 0px 0px 2px 2px rgba(0, 0, 0, 0.3);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .field {
    margin: 0 1rem 0 1rem;
    z-index: 2;
  }
  .field:last-child {
    margin-bottom: 1rem;
  }
  .input {
    border: 0px;
    width: 100%;
    padding-bottom: 0.5rem;
    font-family:"Final Fantasy Script Collection - Final Fantasy VII";
    font-size: 40px;
    background-color: transparent;
    background: linear-gradient(to right, white 0%, white 50%, transparent 50%, transparent 100%) repeat-x left bottom;
    background-size: 30px 2px;
    color: white;
  }
  :-ms-input-placeholder {
    color: #C6C843;
  }
  ::-ms-input-placeholder {
    color: #C6C843;
  }
  ::placeholder {
    color: #C6C843;
  }
  input:disabled,
  input[disabled]{
     
      pointer-events:none;
    
  }
  input:disabled::-webkit-input-placeholder { 
       color:  #AEAFAE;
  }
  input:disabled:-moz-placeholder { 
      color:  #AEAFAE;
  }
  input:disabled::-moz-placeholder { 
       color:  #AEAFAE;
  }
  input:disabled:-ms-input-placeholder {
      color:  #AEAFAE;
  }
  .container.dark {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.4);
  }
  .container.light {
    background-image: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
  .container:before{
    content:'';
    border-radius: 7px;
    height:100%;
    width:100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    z-index: 0;
  }
  .title {
    text-transform: uppercase;
    color: #AAA9AF;
    -webkit-transform: scale(1, 0.5);
    color: lightgrey;
    text-shadow: 4px 4px black;
    font-size: 50px;
    line-height: 4px;
    margin-left: 10px;
    margin-bottom: 0.5rem;
    margin-top: 0;
  }
  p {
    padding: 0rem 1rem 1rem 1rem;
    margin: 0;
    line-height: 80%;
    text-shadow: 2px 2px black;
  }

  
  @keyframes indeterminate {
    0% {
      width: 30%;
      left: -.5%;
    }
    60% {
      left: 40%;
      width: 60%;
    }
    100% {
      left: 100%;
      width: 0%;
    }
  }
  
  @media only screen and (min-width: 600px) {
    body {
      margin: 0 10rem 0 10rem;
    }
  }
  a {
    color: yellow;
    text-decoration: none;
  }
